{{>header}}

<div class="page-content">

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">EARNINGS</h6>

                    <div class="table-responsive">
                        <table id="dataTableExample" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Provider</th>
                                    <th>Company</th>
                                    <th>Phone number</th>
                                    <th>Amount</th>
                                    <th>Date </th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>

                                    <td>{{this.transactionId}}</td>

                                    <td>{{this.Transaction.Provider.User.surname}}
                                        {{this.Transaction.Provider.User.otherNames}}
                                    </td>
                                    <td>{{this.Transaction.Provider.company}}</td>
                                    <td>{{this.Transaction.Provider.User.phoneNumber}}</td>
                                    <td>GHS {{this.amount}}</td>

                                    <td>{{this.createdAt}}</td>


                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{>footer}}

</div>

<!-- core:js -->
<script src="/vendors/core/core.js"></script>
<!-- endinject -->

<!-- plugin js for this page -->
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/js/template.js"></script>
<!-- endinject -->
<!-- custom js for this page -->
<script src="/js/data-table.js"></script>
<!-- end custom js for this page -->

</body>


</html>